.introscreen-monkey{
  height: 55vh;;
  position: absolute;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
}

.matched-container{
  width: 100%;
  height: 100%;
  background-color: #000000a6;
  position: absolute;
  top: 0;
}

.out-of-move-container{
  width: 100%;
  height: 100%;
  background-color: #000000a6;
  position: absolute;
  top: 0;
  z-index: 10;
}

.matched-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0%;
  position: relative;
  height: 100%;
}

.matched-image-one{
  width: 10%;
  transform: rotate(-20deg);
  margin-top: -120px;
  box-shadow: 0 0 5px #ffffff,
    0 0 5px #ffffff,
    0 0 5px #fff;
}

.matched-image-two{
  width: 10%;
  transform: rotate(20deg);
  margin-top: 70px;
  margin-left: 20px;
  box-shadow: 0 0 5px #ffffff,
    0 0 5px #ffffff,
    0 0 5px #fff;
}

.matched-text{
  font-size: 5vw;
  position: absolute;
  top: 15vh;
  left: 55%;
  text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
  color: #EF8F35;
}

.unmatched-text{
  font-size: 5vw;
  position: absolute;
  top: 15vh;
  left: 55%;
  text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
  color: rgb(159, 20, 20);
}

.out-of-moves-text{
  font-size: 5vw;
    position: absolute;
    top: 15vh;
    left: 55%;
    text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
    color: rgb(255, 5, 5);
}

.reward-container {
  width: 100%;
  height: 100%;
  background-color: #000000a6;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0%;
  height: 100%;
}

.reward-container{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: fit-content;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.reward-heading{
  position: absolute;
  margin-top: -35%;

}

.bobble-button {
  transition: transform 0.1s;
  transform: scale(1.1);
}

.rewarded-banana-common{
  display: block;
  position: absolute;
  margin: auto;
  width: 8vw;
}

.rewarded-banana-1{
  left: 20vw;
  top: 25vh;
}
.rewarded-banana-2{
  right: 20vw;
  top: 30vh;
  transform: rotate(-10deg);
}
.rewarded-banana-3{
  left: 25vw;
  bottom: 35vh;
  transform: rotate(30deg);
}
.rewarded-banana-4{
  right: 10vw;
  bottom: 35vh;
  transform: rotate(-35deg);
}
.rewarded-banana-5{
  right: 20vw;
  bottom: 15vh;
  transform: rotate(-30deg);
}

.imageStyle {
  display: block;
  margin: auto;
  width: 100%;
}

.iconStyle {
  width: 70%;
  position: absolute;
  top: 85%;
  cursor: pointer;
}

.containerStyle {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: fit-content;
  color: white;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.textStyle {
  position: absolute;
  top: 21%;
  padding-top: -58%;
  font-size: 1.5vw;
  font-weight: 800;
  color: #fff;
  white-space: normal;
  height: fit-content;
}

.textStyle2 {
  position: absolute;
  margin-top: -35%;
  font-size: 3.5vw;
  font-weight: 800;
  color: #fff;
  white-space: normal;
  height: fit-content;
}

.btnTextStyle {
  position: absolute;
  top: 78%;
  font-size: 3vw;
  font-weight: 800;
  color: #fff;
  white-space: normal;
  height: fit-content;
  cursor: pointer;
}


/* instruction cards */

.instruction-card-container{
  gap: 10%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

/* instruction card */

.instructionCard {
  position: relative;
  background-color: #ffffff;
  border-radius: 10%;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.instruction-card-top-heading-text {
  width: 100%;
  font-size: 0.8vw;
  font-weight: 800;
  color: #A6C930;
  text-align: center;
  margin: 0;
  padding: 0;
}

.instruction-card-heading-text {
  width: 12vw;
  font-size: 1.8vw;
  font-weight: 800;
  color: #11AEC6;
  text-align: center;
  margin: 0;
  padding: 0;
}

.instruction-card-sub-text {
  width: 100%;
  font-size: 0.8vw;
  font-weight: 800;
  color: #A6C930;
  text-align: center;
  margin: 0;
  padding: 0;
}

.instruction-card-number {
  width: 2.5vw;
  position: absolute;
  left: 0;
  bottom: 30%;
}

/* back button */

.back-button-container{
  cursor: pointer;
  position: absolute;
  width: 10vw;
  height: 110px;
  background-image: url("./assets/back-btn.svg");
  /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-align: center;
  top: 5vh;
  left: 3vw;
  z-index: 10;
}

/* banana indicator */

.banana-container {
  width: 40%;
  color: white;
  text-align: left;
  top: 10%;
  z-index: 10;
}

/* comment box */

.comment-box-container {
  position: absolute;
  right: 20%;
  top: 15%;
  width: 30vw;
  height: fit-content;
  color: white;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.comment-text-style {
  position: absolute;
  margin-top: -4%;
  width: 80%;font-weight: 800;
  color: #11AEC6;
  white-space: normal;
  padding-left: 10%;
  height: fit-content;
}

/* game area */

.left-container-style{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

.right-container-style{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

.card-style{
  width: 15vw;
  height: 30vh;
}

/* next button */

.next-button-container-style{
  cursor: pointer;
  position: absolute;
  width: 20%;
  color: white;
  right: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.next-button-text-style{
  position: absolute;
  margin-top: 18%;
  margin-left: -5%;
  font-size: 4vw;
  font-weight: 800;
  color: #fff;
  white-space: normal;
  padding-left: 0%;
  height: fit-content;
}

/* moves box */

.moves-box-container{
  position: absolute;
  right: 5%;
  top: 5%;
  width: 20vw;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgb(133, 218, 48);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid rgb(255, 255, 255);
}

.moves-text-style {
  position: absolute;
  font-weight: 800;
  color: #fff;
  white-space: normal;
  height: fit-content;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #18141498;
}

/* mute button */

.mute-btn-container{
  cursor: pointer;
  position: absolute;
  bottom: 6vh;
  left: 6vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mute-btn{
  cursor: pointer;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  max-width: 110px;
  max-height: 110px;
  padding: 10px;
}

/* app */

.app-container{
  background-image: url('./assets//app-background.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}